body{
	background-color: #CCCCCC;
	font-size: 150%;
}

p{
	color: #501F3A;
	padding: 1%;
	font-family: 'Architects Daughter', cursive;
	font-size: -10%;
	
}

h1{
	color: #14A098;
	font-size: 250%;
	text-decoration: underline;
	padding: 1%;
	font-family: 'Lobster',sans-serif;
}

center{
	border-width: 20px;
	border-style: double;
	border-color: #501F3A;
	margin-left: 12%;
	margin-right: 12%;
	padding: 5%;
	margin-bottom: -5%;
	margin-top: -1%;
	font-family: 'Indie Flower',cursive;
	font-weight: bolder;
}

#nav{
	background-color: #CB2D6F;
	list-style-type: none;
	overflow: hidden;
	position: fixed;
	width: 100%;
	top: 0;
	font-family: 'Architects Daughter';
}

#nav a,span{
	float: left;
	%color:#FEF9C7;
	color: #EDEAE5;
	padding: 1%;
	margin: 0.25%;
	font-size: 100%;
	
}

#nav a:hover{
	background-color: pink;
	cursor: pointer;
	color:  #501F3A;

}
ul li{	
	float: left;
	width: 74%;
	border: dashed;
	border-width: 2px 4px 1px 3px;
	color: #14A098;
	text-align: left;
	background-color: #0F292F ;
	font-family: 'Indie Flower',cursive;

}


#nav span:hover{
	background-color: pink;
	cursor: pointer;
	color:  #501F3A;
}

.content{
	margin-top :5%;
	margin-left: 2%;
	margin-right: 2%;
	
}

table,th,td{
	margin-left: auto;
	margin-right: auto;
	border: 8px dotted #CB2D6F;
	background-color: #0F292F;
	color: #CCCCCC;

}
td{
	padding: 3%;
}

img{
	display: float;
	float: left;
	padding: 2% 1% 2% 1%;
	margin-bottom: 4%;
	margin-top: 2%;

}

ol #contact-list{
	list-style-type: none;

}
div#contact-content ol li{
	font-family: 'Indie Flower',cursive;
	text-align: center;
	font-weight: bolder;
	font-size: 120%;
	list-style-type: none;

}

div#contact-content div#contactt{
	border-width: 20px;
	border-style: double;
	border-color: #501F3A;
	margin-left: 20%;
	margin-right: 20%;
	padding: 3%;

}

div#publication-content ol li{
	color: #CB2D6F;

}

div#project-list li{
	color: #CB2D6F;
}

div#about-content img{
	display: float;
	float: left;
	padding: 2% 2% 1% 0.5%;
	/*	top right bottom left*/
	margin: 0px;

}

div#foot{
	margin: 2%;
}

.game-image{
	width: 34%; 
	height: 350px;
}

.vertical-game{
	width: 20%; 
	height: 350px;
}

@media only screen and (max-width: 700px) {
  img {
    width: 100%;
    max-width: 100%;
    align-content: center;
  }
}
